.cart {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 128px;
}
.cart .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .card img {
  width: 100px;
  height: 100px;
}
.cart .card p {
  width: 200px;
}
.cart button{
  width:100px;
  height: 30px;
  color: white;
  background-color: red;
}


