*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: purple;
    
    padding: 25px;
  }

